@use "../abstracts/" as *;

header {
  @include bg-img("../assets/images/Banner/Banner1.jpg");
  height: 100vh;

  .container {
    height: 100%;
  }

  .introduce-sec {
    width: 240px;
    margin: 0 auto;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include tablet {
      width: 524px;
      transform: translateY(-60px) !important;
    }

    @include desktop {
      width: 555px;
      transform: translateY(-90px) !important;
    }

    .introduce-sec__message {
      font-size: 20px;
      line-height: 24px;
      letter-spacing: -0.04em;
      color: $white;
      font-weight: 400;
      text-align: center;
      margin-bottom: 35px;

      @include tablet {
        letter-spacing: -0.025em;
        font-size: 32px;
        line-height: 36px;
      }

      @include desktop {
        font-size: 44px;
        line-height: 48px;
        letter-spacing: -0.0363636em;
        margin-bottom: 53px;
      }
    }

    .introduce-sec__video {
      & > iframe {
        width: 100%;
        height: 140px;

        @include tablet {
          width: 346px;
          height: 202px;
        }

        @include desktop {
          width: 555px;
          height: 324px;
        }
      }
    }
  }

  .down-arrow {
    margin-top: 100px;

    @include tablet {
      display: none;
    }

    .down-arrow__icon {
      width: 16px;
    }
  }
}
