@use "../abstracts/" as *;

.about-me-sec {
  @include bg-img("../assets/images/Banner/Gregory-Francis.jpg");
  height: 315px;
  color: $white;
  padding-top: 34px;

  @include tablet {
    padding-top: 0;
  }

  @include desktop {
    height: 590px;
  }

  .container {
    height: 100%;
    @include tablet {
      position: relative;
    }
  }

  .about-me-sec__main {
    width: 240px;
    margin: 0 auto;

    @include tablet {
      width: 282px;
      position: absolute;
      right: 80px;
      top: 103px;
    }

    @include desktop {
      width: 360px;
      top: 229px;
      right: 95px;
    }

    .about-me-sec__title {
      font-size: 24px;
      line-height: 32px;
      letter-spacing: -0.025em;
      font-weight: 400;
      margin-bottom: 5px;

      @include tablet {
        font-size: 24px;
        line-height: 32px;
      }

      @include desktop {
        font-size: 32px;
        line-height: 42px;
        margin-bottom: 7px;
      }
    }

    .about-me-sec__sub-title {
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.0666667em;
      font-weight: 400;
      margin-bottom: 24px;

      @include tablet {
        margin-bottom: 16px;
      }

      @include desktop {
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 20px;
      }
    }
    .about-me-sec__msg {
      font-weight: 400;
      font-size: 11px;
      line-height: 16px;
      margin-bottom: 36px;
      position: relative;

      @include desktop {
        font-size: 16px;
        line-height: 24px;
      }
    }

    .list-dot {
      position: absolute;
      display: flex;
      bottom: -50px;
      gap: 9px;
      right: 50%;
      transform: translateX(50%);

      @include tablet {
        display: block;
        right: -42px;
        top: 0;
      }

      @include desktop {
        right: -89px;
      }
      .list-dot__item {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 2px solid $white;
        margin-bottom: 10px;

        @include desktop {
          margin-bottom: 12px;
        }
      }

      & :nth-child(1) {
        background-color: white;
      }
    }
  }
}
