@use "../abstracts/" as *;

.about-me-sec {
  @include bg-img("../assets/images/Banner/Gregory-Francis.jpg");
  height: 315px;
  color: $white;
  padding-top: 34px;

  @include tablet {
    padding-top: 0;
  }

  @include desktop {
    height: 590px;
  }

  .container {
    height: 100%;
    position: relative;
  }

  .about-me-list {
    display: flex;
    overflow: hidden;
    width: 240px;
    margin: 0 auto;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    -webkit-scroll-snap-points-x: repeat(240px);
    -ms-scroll-snap-points-x: repeat(240px);
    scroll-snap-points-x: repeat(240px);
    -webkit-scroll-snap-type: mandatory;
    -ms-scroll-snap-type: mandatory;
    scroll-snap-type: mandatory;

    @include tablet {
      width: 282px;
      position: absolute;
      right: 80px;
      top: 103px;
      -webkit-scroll-snap-points-x: repeat(282px);
      -ms-scroll-snap-points-x: repeat(282px);
      scroll-snap-points-x: repeat(282px);
    }

    @include desktop {
      width: 360px;
      top: 229px;
      right: 95px;
      -webkit-scroll-snap-points-x: repeat(360px);
      -ms-scroll-snap-points-x: repeat(360px);
      scroll-snap-points-x: repeat(360px);
    }
  }

  .about-me-sec__main {
    width: 240px;
    flex-shrink: 0;

    @include tablet {
      width: 282px;
      // position: absolute;
      // right: 80px;
      // top: 103px;
    }

    @include desktop {
      width: 360px;
      // top: 229px;
      // right: 95px;
    }

    .about-me-sec__title {
      font-size: 24px;
      line-height: 32px;
      letter-spacing: -0.025em;
      font-weight: 400;
      margin-bottom: 5px;

      @include tablet {
        font-size: 24px;
        line-height: 32px;
      }

      @include desktop {
        font-size: 32px;
        line-height: 42px;
        margin-bottom: 7px;
      }
    }

    .about-me-sec__sub-title {
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.0666667em;
      font-weight: 400;
      margin-bottom: 24px;

      @include tablet {
        margin-bottom: 16px;
      }

      @include desktop {
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 20px;
      }
    }
    .about-me-sec__msg {
      font-weight: 400;
      font-size: 11px;
      line-height: 16px;
      margin-bottom: 36px;
      position: relative;

      @include desktop {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }

  .list-dot {
    display: flex;
    position: absolute;
    bottom: 20px;
    gap: 9px;
    right: 50%;
    transform: translateX(50%);

    @include tablet {
      flex-direction: column;
      right: 42px;
      top: 179px;
    }

    @include desktop {
      top: 335px;
      right: 0px;
      gap: 11px;
    }
    .list-dot__item {
      height: 10px;
      width: 10px;
      border-radius: 50%;
      border: 2px solid $white;
      display: inline-block;
    }

    .list-dot__animation {
      position: absolute;
      z-index: -1;
      background-color: white;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      top: 0;
    }

    & .start-first,
    .list-dot__item:nth-child(1):hover ~ .list-dot__animation {
      left: 0;

      @include tablet {
        top: 0;
      }
    }

    .list-dot__item:nth-child(2):hover ~ .list-dot__animation {
      left: 19px;
      @include tablet {
        top: 19px;
        left: 0;
      }

      @include desktop {
        top: 21px;
        left: 0;
      }
    }

    .list-dot__item:nth-child(3):hover ~ .list-dot__animation {
      left: 39px;
      @include tablet {
        top: 39px;
        left: 0;
      }

      @include desktop {
        top: 41px;
        left: 0;
      }
    }

    .list-dot__item:nth-child(4):hover ~ .list-dot__animation {
      left: 57px;
      @include tablet {
        top: 57px;
        left: 0;
      }

      @include desktop {
        top: 63px;
        left: 0;
      }
    }

    .list-dot__item:nth-child(5):hover ~ .list-dot__animation {
      left: 77px;
      @include tablet {
        top: 77px;
        left: 0;
      }

      @include desktop {
        top: 84px;
        left: 0;
      }
    }
  }
}
