@use "../abstracts/" as *;

.button {
  width: 210px;
  height: 48px;
  background-color: $primary-color;
  border-radius: 50px;
  color: #3c3c3c;
  font-size: 16px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;

  @include tablet {
    width: 140px;
    height: 40px;
    font-size: 11px;
  }

  @include mobile {
    width: 140px;
    height: 32px;
  }

  &.button-dark {
    color: $white;
    background-color: #4b4b4b;
  }
}
