@use "../abstracts/" as *;

.map-sec {
  height: 268px;
  position: relative;

  @include tablet {
    height: 216px;
  }

  @include desktop {
    height: 400px;
    background-color: #d8d8d8;
  }

  .map-tooltip {
    width: 190px;
    height: 70px;
    top: 92px;
    right: 53px;
    position: absolute;
    background: linear-gradient(
        191.52deg,
        rgba(255, 255, 255, 0.301404) 5.01%,
        rgba(255, 255, 255, 0.0001) 91.53%
      ),
      #ebcb80;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 4px;

    @include tablet {
      top: 67px;
      right: 206px;
    }

    @include desktop {
      top: 201px;
      right: 489px;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -12px;
      right: 50%;
      transform: translateX(50%);
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 20px solid $primary-color;
    }

    .map-tooltip__msg {
      font-size: 12px;
      line-height: 16px;
      padding-top: 21px;
      padding-left: 29px;
    }
  }
}
