@use "../abstracts/" as *;

.portfolio-sec {
  max-width: 1190px;
  margin: 0 auto;
  padding: 66px 24px 71px 24px;

  @include tablet {
    padding: 26px 24px 72px 24px;
  }

  @include mobile {
    padding: 29px 15px 71px 15px;
  }

  .portfolio-sec__title {
    text-align: center;
    letter-spacing: -0.0363636em;
    color: #4b4b4b;
    font-size: 44px;
    line-height: 48px;
    font-weight: 400;
    margin-bottom: 54px;

    @include tablet {
      font-size: 32px;
      line-height: 40px;
      margin-bottom: 29px;
    }

    @include mobile {
      margin-bottom: 18px;
    }
  }

  .list-image__item {
    img {
      display: block;
    }
  }

  .blue-moutain {
    position: relative;
    color: $white;

    .item-content {
      width: 300px;
      position: absolute;
      top: 58px;
      right: 40px;

      @include tablet {
        width: 203px;
        top: 41px;
        right: 17px;
      }

      @include mobile {
        width: 243px;
        top: 11px;
        left: 25px;
      }

      .item-content__title {
        font-weight: 400;
        font-size: 32px;
        line-height: 42px;
        margin-bottom: 5px;
        letter-spacing: -0.025em;

        @include tablet {
          font-size: 24px;
          line-height: 32px;
        }

        @include mobile {
          font-size: 16px;
          line-height: 32px;
          letter-spacing: -0.03125em;
          margin-bottom: 2px;
        }
      }

      .item-content__date {
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 31px;
        letter-spacing: 0.0666667em;

        @include tablet {
          font-size: 12px;
          line-height: 16px;
          margin-bottom: 20px;
        }

        @include mobile {
          font-size: 12px;
          line-height: 16px;
          margin-bottom: 18px;
        }
      }

      .crossbar {
        display: block;
        width: 32px;
        height: 6px;
        background-color: $white;
        margin-bottom: 38px;

        @include tablet {
          width: 16px;
          height: 4px;
          margin-bottom: 24px;
        }

        @include mobile {
          width: 12px;
          height: 2px;
          margin-bottom: 12px;
        }
      }

      .item-content__msg {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 30px;

        @include tablet {
          font-size: 11px;
          line-height: 16px;
          margin-bottom: 10px;
        }
      }

      .item-content__socials {
        @include flex();
        gap: 67px;

        @include tablet {
          gap: 50px;
        }

        .item-content__social--eye {
          position: relative;
          @include mobile {
            top: -130px;
            right: -215px;
          }

          &::before {
            content: "92924";
            position: absolute;
            font-weight: 400;
            top: 2px;
            font-size: 12px;
            left: 22px;

            @include tablet {
              top: 2px;
            }

            @include mobile {
              display: none;
            }
          }
        }

        .item-content__social--like {
          position: relative;
          @include mobile {
            display: none;
          }
          &::after {
            content: "1273";
            position: absolute;
            font-size: 12px;
            left: 20px;
            top: 2px;
          }
        }

        .item-content__social--comments {
          position: relative;

          @include mobile {
            display: none;
          }

          &::before {
            content: "4894";
            position: absolute;
            font-weight: 400;
            top: 1px;
            font-size: 12px;
            left: 20px;

            @include tablet {
              top: 2px;
            }
          }
        }
      }
    }
  }

  .scenery-photos {
    background: #f6f6f6;
    padding: 60px 0 0 40px;

    @include tablet {
      padding: 32px 0 0 22px;
    }

    @include mobile {
      padding: 17px 0 24px 24px;
    }

    .scenery-photos__title {
      font-weight: 400;
      font-size: 32px;
      line-height: 42px;
      color: $text-color;
      margin-bottom: 5px;
      letter-spacing: -0.025em;

      @include tablet {
        font-size: 24px;
        line-height: 32px;
      }

      @include mobile {
        font-size: 16px;
        line-height: 32px;
        margin-bottom: 1px;
      }
    }

    .scenery-photos__sub-title {
      font-size: 18px;
      line-height: 30px;
      font-weight: 400;
      letter-spacing: 0.0555556em;
      margin-bottom: 31px;
      color: $text-color;

      @include tablet {
        letter-spacing: 0.0666667em;
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 29px;
      }

      @include mobile {
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 10px;
      }
    }

    .crossbar {
      display: block;
      background: #4b4b4b;
      width: 32px;
      height: 6px;
      margin-bottom: 37px;

      @include tablet {
        width: 16px;
        height: 4px;
        margin-bottom: 25px;
      }

      @include mobile {
        width: 14px;
        height: 2px;
        margin-bottom: 15px;
      }
    }

    .scenery-photos__introduce {
      width: 180px;
      color: $text-color;
      font-weight: 400;
      font-size: 64px;
      line-height: 54px;
      letter-spacing: -0.03125em;

      @include tablet {
        width: 102px;
        font-size: 36px;
        line-height: 32px;
        letter-spacing: -0.0277778em;
      }

      @include mobile {
        width: 226px;
        font-size: 32px;
        line-height: 28px;
        letter-spacing: -0.015625em;
      }
    }
  }

  .portfolio-sec__list-image {
    width: 100%;
    @include flex($wrap: wrap, $justify: center);

    .list-image__item--small {
      width: 33.333333%;

      @include mobile {
        width: 50%;
      }
    }

    .list-image__item--large {
      width: 66.6666666%;

      @include mobile {
        width: 100%;
      }
    }

    @include mobile {
      & :nth-child(1) {
        order: 1;
      }
      & :nth-child(2) {
        order: 3;
      }
      & :nth-child(3) {
        order: 6;
      }
      & :nth-child(4) {
        order: 2;
      }
      & :nth-child(5) {
        order: 5;
      }
      & :nth-child(6) {
        order: 7;
        width: 100%;
      }
      & :nth-child(7) {
        order: 4;
      }
    }
  }

  .portfolio-sec__list-btn {
    @include flex($justify: center);
    margin-top: 65px;
    gap: 18px;

    @include tablet {
      margin-top: 41px;
      gap: 12px;
    }

    @include mobile {
      margin-top: 25px;
    }

    .list-btn__item {
      background-color: transparent;
      border: none;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      font-size: 18px;
      color: $text-color;
      cursor: pointer;

      @include tablet {
        font-size: 12px;
      }
    }

    .list-btn__item--active {
      color: $primary-color;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    }

    .list-btn__item--hide {
      @include mobile {
        display: none;
      }
    }

    .list-btn__item--prev {
      margin-right: 24px;

      @include tablet {
        margin-right: 12px;
        transform: translateY(2px);
      }

      @include mobile {
        margin-right: 0;
      }
    }

    .list-btn__item--next {
      margin-left: 24px;

      @include tablet {
        margin-left: 12px;
      }

      @include mobile {
        margin-left: 0;
        transform: translateY(3px);
      }
    }
  }
}
