@use "../abstracts/" as *;

.testimonials-sec-card {
  display: flex;
  padding-top: 16px;
  padding-bottom: 8px;
  margin-bottom: 16px;
  transition: all 0.3s ease-in-out;
  border-radius: 8px;

  @include tablet {
    width: 345px;
    padding-left: 19px;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  @include desktop {
    width: 554px;
    padding: 46px 38px 46px 41px;
    &:hover {
      box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
    }
  }

  .testimonials-sec-card__img {
    width: 48px;
    margin-right: 18px;
    flex-shrink: 0;

    @include tablet {
      width: 64px;
    }

    @include desktop {
      width: 96px;
    }
  }

  .card-main {
    .card-main__title {
      font-size: 12px;
      line-height: 16px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 0.0666667em;
    }

    .card-main__sub-title {
      color: $text-sub-color;
      font-size: 12px;
      line-height: 16px;
      margin-top: 8px;

      @include tablet {
        font-size: 12px;
        line-height: 16px;
      }

      @include desktop {
        font-size: 16px;
        line-height: 24px;
      }
    }

    .crossbar {
      width: 100%;
      background: #f6f6f6;
      margin-bottom: 10px;
      margin-top: 4px;
      height: 2px;
    }

    .card-main__paragraph {
      font-size: 11px;
      line-height: 16px;
      color: $text-color;
      margin-bottom: 18px;

      @include tablet {
        width: 200px;
      }

      @include desktop {
        width: auto;
        font-size: 16px;
        line-height: 24px;
      }
    }

    .list-icon {
      display: flex;
      align-items: center;

      .testimonials-icon {
        margin-right: 14px;
        cursor: pointer;
      }
    }
  }
}
