@use "../abstracts/" as *;

.testimonials-sec {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 72px;
  padding-bottom: 47px;

  @include tablet {
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 41px;
    padding-bottom: 16px;
  }

  @include mobile {
    padding-top: 30px;
    padding-bottom: 0;
  }

  .testimonials-sec__title {
    font-size: 44px;
    font-weight: 400;
    line-height: 48px;
    color: $text-color;
    text-align: center;

    @include tablet {
      font-size: 32px;
      line-height: 40px;
    }

    @include mobile {
      font-size: 20px;
      line-height: 40px;
    }
  }

  .testimonials-sec__list-card {
    column-gap: 31px;
    margin-top: 28px;
    margin-bottom: 16px;
    @include flex($justify: center, $wrap: wrap, $align: flex-start);

    @include mobile {
      padding: 0 15px;
      margin-top: 15px;
    }
  }
}
