@use "../abstracts/" as *;

.testimonials-sec {
  height: 100vh;
  overflow: hidden;
  padding-top: 24px;
  @include tablet {
    margin: 0 auto;
  }

  .container {
    @include tablet {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
    }
  }

  .testimonials-sec__title {
    font-size: 20px;
    line-height: 40px;
    font-weight: 400;
    color: $text-color;
    text-align: center;
    letter-spacing: -0.025em;

    @include tablet {
      font-size: 32px;
      line-height: 40px;
    }

    @include desktop {
      font-size: 44px;
      line-height: 48px;
    }
  }

  .testimonials-sec__list-card {
    height: 555px;
    overflow: hidden;
    @include tablet {
      height: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
      margin-top: 31px;
    }

    @include desktop {
      margin-top: 29px;
    }
  }
}
