@use "../abstracts/" as *;

.version-download-sec {
  @include bg-img("../assets/images/version/version.svg");
  height: 312px;
  text-align: center;
  padding-top: 45px;

  @include tablet {
    height: 314px;
    padding-top: 57px;
  }

  @include desktop {
    height: 588px;
    padding-top: 163px;
  }

  .version-download-sec__title {
    font-size: 20px;
    margin-bottom: 7px;
    color: $white;
    font-style: normal;
    letter-spacing: -0.025em;
    line-height: 40px;
    font-weight: 400;

    @include tablet {
      font-size: 32px;
      margin-bottom: 26px;
    }

    @include desktop {
      font-size: 44px;
      line-height: 48px;
      margin-bottom: 24px;
    }
  }
  .version-download-sec__paragraph {
    width: 240px;
    margin-bottom: 20px;
    color: $white;
    margin-left: auto;
    margin-right: auto;
    font-size: 11px;
    line-height: 16px;

    @include tablet {
      font-size: 11px;
      margin-bottom: 39px;
      width: 472px;
    }

    @include desktop {
      width: 555px;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 42px;
    }
  }
}
