<section class="about-me-sec">
  <div class="container" data-aos="fade-left">
    <div class="about-me-list">
      <div class="list-wrapper">
        <div class="about-me-sec__main" id="slide-1">
          <h1 class="about-me-sec__title">Gregory Francis</h1>
          <h2 class="about-me-sec__sub-title">CHIEF ENGINEER</h2>
          <div class="about-me-sec__msg">
            I’ve started to work in company at 2009. Photographs are a way of
            preserving a moment in our lives for the rest of our lives. Many of
            us have at least been tempted at the flashy array of photo printers
            which seemingly leap off the shelves at even the least tech-savvy.
            It surely seems old fashioned to talk about 35mm film and
            non-digital cameras in today’s day and age.
          </div>
        </div>
        <div class="about-me-sec__main" id="slide-2">
          <h1 class="about-me-sec__title">Gregory Francis2</h1>
          <h2 class="about-me-sec__sub-title">CHIEF ENGINEER</h2>
          <div class="about-me-sec__msg">
            I’ve started to work in company at 2009. Photographs are a way of
            preserving a moment in our lives for the rest of our lives. Many of
            us have at least been tempted at the flashy array of photo printers
            which seemingly leap off the shelves at even the least tech-savvy.
            It surely seems old fashioned to talk about 35mm film and
            non-digital cameras in today’s day and age.
          </div>
        </div>
        <div class="about-me-sec__main" id="slide-3">
          <h1 class="about-me-sec__title">Le Van Duy3</h1>
          <h2 class="about-me-sec__sub-title">CHIEF ENGINEER</h2>
          <div class="about-me-sec__msg">
            I’ve started to work in company at 2009. Photographs are a way of
            preserving a moment in our lives for the rest of our lives. Many of
            us have at least been tempted at the flashy array of photo printers
            which seemingly leap off the shelves at even the least tech-savvy.
            It surely seems old fashioned to talk about 35mm film and
            non-digital cameras in today’s day and age.
          </div>
        </div>
        <div class="about-me-sec__main" id="slide-4">
          <h1 class="about-me-sec__title">Gregory Francis4</h1>
          <h2 class="about-me-sec__sub-title">CHIEF ENGINEER</h2>
          <div class="about-me-sec__msg">
            I’ve started to work in company at 2009. Photographs are a way of
            preserving a moment in our lives for the rest of our lives. Many of
            us have at least been tempted at the flashy array of photo printers
            which seemingly leap off the shelves at even the least tech-savvy.
            It surely seems old fashioned to talk about 35mm film and
            non-digital cameras in today’s day and age.
          </div>
        </div>
        <div class="about-me-sec__main" id="slide-5">
          <h1 class="about-me-sec__title">Gregory Francis5</h1>
          <h2 class="about-me-sec__sub-title">CHIEF ENGINEER</h2>
          <div class="about-me-sec__msg">
            I’ve started to work in company at 2009. Photographs are a way of
            preserving a moment in our lives for the rest of our lives. Many of
            us have at least been tempted at the flashy array of photo printers
            which seemingly leap off the shelves at even the least tech-savvy.
            It surely seems old fashioned to talk about 35mm film and
            non-digital cameras in today’s day and age.
          </div>
        </div>
      </div>
    </div>
    <div class="list-dot">
      <div class="list-dot__item active"></div>
      <div class="list-dot__item"></div>
      <div class="list-dot__item"></div>
      <div class="list-dot__item"></div>
      <div class="list-dot__item"></div>
    </div>
  </div>
</section>

<script>
  const dots = document.querySelectorAll(".about-me-sec .list-dot__item");
  const slider = document.querySelector(".about-me-sec .list-wrapper");

  let currentActive = 0;

  dots.forEach((element, index) => {
    element.addEventListener("click", () => {
      dots[currentActive].classList.remove("active");
      slider.style.marginLeft = -index * slider.offsetWidth + "px";
      element.classList.add("active");
      currentActive = index;
    });
  });
</script>
