<section class="about-me-sec">
  <div class="about-me-sec__main">
    <h1 class="about-me-sec__title">Gregory Francis</h1>
    <h2 class="about-me-sec__sub-title">CHIEF ENGINEER</h2>
    <div class="about-me-sec__msg">
      I’ve started to work in company at 2009. Photographs are a way of
      preserving a moment in our lives for the rest of our lives. Many of us
      have at least been tempted at the flashy array of photo printers which
      seemingly leap off the shelves at even the least tech-savvy. It surely
      seems old fashioned to talk about 35mm film and non-digital cameras in
      today’s day and age.
      <div class="list-dot">
        <div class="list-dot__item"></div>
        <div class="list-dot__item"></div>
        <div class="list-dot__item"></div>
        <div class="list-dot__item"></div>
        <div class="list-dot__item"></div>
      </div>
    </div>
  </div>
</section>
