<div
  class="list-card__item {{class}}"
  data-aos="flip-up"
  data-aos-duration="1000"
>
  <div class="item-main">
    <h2 class="item-main__title">{{title}}</h2>
    <div class="item-main__price">
      <span class="item-main__price--unit">$</span>
      <span class="item-main__price--number">{{price}}</span>
    </div>
    <h2 class="item-main__year">YEAR</h2>
    <ul class="introduce-list">
      <li class="introduce-list__item">{{introduce1}}</li>
      <li class="introduce-list__item">{{introduce2}}</li>
      <li class="introduce-list__item">{{introduce3}}</li>
    </ul>
    <include
      src="./components/button.html"
      locals='{
        "class": "{{classButton}}",
        "name": "PURCHASE"
        }'
    ></include>
  </div>
</div>
