<section class="features-sec container">
  <h1 class="features-sec__title" data-aos="fade-down">Features</h1>
  <h3 class="features-sec__sub-title" data-aos="fade-down">
    we're taking it to the next level
  </h3>
  <div class="features-sec__main">
    <div class="features-sec-cards" data-aos="fade-right">
      <include
        src="./components/features-sec-card.html"
        locals='{
            "src": "../assets/images/features/responsive.svg",
            "title": "responsive layout",  
            "paragraph": "The past few years have seen a dramatic change in the public perception of cosmetic surgery."    
        }'
      ></include>
      <include
        src="./components/features-sec-card.html"
        locals='{
            "src": "../assets/images/features/diamond.svg",
            "title": "pixel perfect",  
            "paragraph": "About 64% of all on-line teens say that do things online that they wouldn’t want their parents to know about."     
        }'
      ></include>
      <include
        src="./components/features-sec-card.html"
        locals='{
            "src": "../assets/images/features/layers.svg",
            "title": "organized layers",  
            "paragraph": "Are you one of the thousands of Iphone owners who has no idea that they can get free games for their Iphone?" 
        }'
      ></include>
    </div>
    <figure class="features-sec__img" data-aos="fade-left">
      <img src="../assets/images/features/mac.svg" alt="" />
    </figure>
  </div>
</section>
