<section class="portfolio-sec">
  <div class="container">
    <h1 class="portfolio-sec__title" data-aos="fade-down">Portfolio</h1>
    <div class="portfolio-sec__list-image">
      <figure
        class="list-image__item list-image__item--small"
        data-aos="fade-up"
        data-aos-anchor-placement="center-bottom"
      >
        <img src="../assets/images/Portfolio/project-card1.jpg" alt="" />
      </figure>
      <figure
        class="list-image__item list-image__item--large blue-moutain"
        data-aos="fade-up"
        data-aos-anchor-placement="center-bottom"
      >
        <img src="../assets/images/Portfolio/project-card2.jpg" alt="" />
        <div class="item-content">
          <h1 class="item-content__title">Blue Mountains</h1>
          <p class="item-content__date">17 Apr 2016</p>
          <span class="crossbar"></span>
          <p class="item-content__msg">
            Planning a vacation to Europe? No doubt you have certain
            expectations about your upcoming journey.
          </p>
          <div class="item-content__socials">
            <div class="item-content__social--eye">
              <svg
                width="18"
                height="11"
                viewBox="0 0 18 11"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M18 5.5C18 5.5 14.2191 11 9 11C3.78091 11 0 5.5 0 5.5C0 5.5 3.78091 0 9 0C14.2191 0 18 5.5 18 5.5ZM11.25 5.5C11.25 6.88071 10.2426 8 9 8C7.75736 8 6.75 6.88071 6.75 5.5C6.75 4.11929 7.75736 3 9 3C10.2426 3 11.25 4.11929 11.25 5.5Z"
                  fill="white"
                />
              </svg>
            </div>
            <div class="item-content__social--like">
              <svg
                width="15"
                height="12"
                viewBox="0 0 15 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M7.10954 12C10.6643 9.63015 14.2191 7.26031 14.2191 3.70554C14.2191 1.25028 10.6643 -2.21908 7.10954 1.92815C3.55477 -2.21908 0 1.25028 0 3.70554C0 7.26031 3.55477 9.63015 7.10954 12Z"
                  fill="white"
                />
              </svg>
            </div>
            <div class="item-content__social--comments">
              <svg
                width="14"
                height="12"
                viewBox="0 0 14 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M2 0C0.895432 0 0 0.895447 0 2V7C0 8.10455 0.895432 9 2 9H3V12L7 9H12C13.1046 9 14 8.10455 14 7V2C14 0.895447 13.1046 0 12 0H2Z"
                  fill="white"
                />
              </svg>
            </div>
          </div>
        </div>
      </figure>
      <figure
        class="list-image__item list-image__item--large"
        data-aos="fade-up"
        data-aos-anchor-placement="center-bottom"
      >
        <img src="../assets/images/Portfolio/project-card3.jpg" alt="" />
      </figure>
      <figure
        class="list-image__item list-image__item--small"
        data-aos="fade-up"
        data-aos-anchor-placement="center-bottom"
      >
        <img src="../assets/images/Portfolio/project-card4.jpg" alt="" />
      </figure>
      <figure
        class="list-image__item list-image__item--small"
        data-aos="fade-up"
        data-aos-anchor-placement="center-bottom"
      >
        <img src="../assets/images/Portfolio/project-card5.jpg" alt="" />
      </figure>
      <div
        class="list-image__item list-image__item--small scenery-photos"
        data-aos="fade-up"
        data-aos-anchor-placement="center-bottom"
      >
        <h2 class="scenery-photos__title">Scenery Photos</h2>
        <h3 class="scenery-photos__sub-title">BY EVGENY METILAN</h3>
        <span class="crossbar"></span>
        <h1 class="scenery-photos__introduce">Wild Nature</h1>
      </div>
      <figure
        class="list-image__item list-image__item--small"
        data-aos="fade-up"
        data-aos-anchor-placement="center-bottom"
      >
        <img src="../assets/images/Portfolio/project-card6.jpg" alt="" />
      </figure>
    </div>
    <div class="portfolio-sec__list-btn">
      <button class="list-btn__item list-btn__item--prev">
        <svg
          width="11"
          height="18"
          viewBox="0 0 11 18"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M10 1L2 9L10 17"
            stroke="#7D7D7D"
            stroke-width="2"
            stroke-linecap="round"
          />
        </svg>
      </button>
      <button class="list-btn__item">1</button>
      <button class="list-btn__item">2</button>
      <button class="list-btn__item">3</button>
      <button class="list-btn__item list-btn__item--active">4</button>
      <button class="list-btn__item list-btn__item--hide">5</button>
      <button class="list-btn__item list-btn__item--next">
        <svg
          width="11"
          height="18"
          viewBox="0 0 11 18"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M1 1L9 9L1 17"
            stroke="#7D7D7D"
            stroke-width="2"
            stroke-linecap="round"
          />
        </svg>
      </button>
    </div>
  </div>
</section>
