<section class="testimonials-sec">
  <div class="container">
    <h1 class="testimonials-sec__title" data-aos="fade-down">Testimonials</h1>
    <div class="testimonials-sec__list-card">
      <include
        src="./components/testimonials-sec-card.html"
        locals='{ 
                "src": "../assets/images/Testimonials/person1.jpg",
                "title": "lulu hoffman",
                "subTitle": "Marketing Consultant at okodesign.net",  
                "paragraph": "If you are an entrepreneur, you know that your success cannot depend on the opinions of others. Like the wind, opinions change…like the weather, opinions change frequently.",
                "listIcon": "[`../assets/icons/linkedin-orange.svg`, `../assets/icons/twitter-orange.svg`, `../assets/icons/google-plus-orange.svg`]"
            }'
      ></include>
      <include
        src="./components/testimonials-sec-card.html"
        locals='{ 
                "src": "../assets/images/Testimonials/person2.jpg",
                "title": "elise duncan",
                "subTitle": "Project Manager at okodesign.net",  
                "paragraph": "Ever heard of the Fuller Brush Man? You know, those legendary guys who came knocking on the front doors of America, selling brushes, mops and cleaners?",
                "listIcon": "[`../assets/icons/facebook-orange.svg`, `../assets/icons/twitter-orange.svg`]"
            }'
      ></include>
      <include
        src="./components/testimonials-sec-card.html"
        locals='{ 
                "src": "../assets/images/Testimonials/person3.jpg",
                "title": "dustin gonzales",
                "subTitle": "CEO at hofmannui.net",  
                "paragraph": "Do you remember the story of “The Wizard of Oz”? In this story we saw the characters of Dorothy, who had wanted to run away from home because she thought there was a better place somewhere.",
                "listIcon": "[`../assets/icons/facebook-orange.svg`,`../assets/icons/linkedin-orange.svg`,`../assets/icons/google-plus-orange.svg`]"  
            }'
      ></include>
      <include
        src="./components/testimonials-sec-card.html"
        locals='{ 
                "src": "../assets/images/Testimonials/person4.jpg",
                "title": "laura parks",
                "subTitle": "UX Lead at hofmannui.net",  
                "paragraph": "They are big, bold and beautiful. Billboards have been around for quite a while. In almost all places nowadays you can find billboards of just about every product there is in the market. No matter how you see it, billboard advertising is on the rise.",
                "listIcon": "[`../assets/icons/facebook-orange.svg`,`../assets/icons/linkedin-orange.svg`, `../assets/icons/twitter-orange.svg`, `../assets/icons/google-plus-orange.svg`]"    
            }'
      ></include>
    </div>
  </div>
</section>
