<div class="testimonials-sec-card" data-aos="zoom-in-up">
    <figure class="testimonials-sec-card__img">
        <img src="{{src}}"></img>
    </figure>
    <div class="card-main">
        <h1 class="card-main__title">{{title}}</h1>
        <div class="card-main__sub-title">{{subTitle}}</div>
        <div class="crossbar"></div>
        <p class="card-main__paragraph">{{paragraph}}</p>
        <div class="list-icon">
            <include src="./components/list-icon.html"
            locals='{
                        "classList": "testimonials-icon",
                        "listIcon": "{{listIcon}}"
                    }'
            ></include>
        </div>
    </div>
</div>
