<section class="version-download-sec">
  <h1 class="version-download-sec__title" data-aos="fade-up-right">
    Get Your Free Version
  </h1>
  <p class="version-download-sec__paragraph" data-aos="fade-up-left">
    Having used discount toner cartridges for twenty years, there have been a
    lot of changes in the toner cartridge market. The market today is
    approximately a twenty billion dollar business.
  </p>
  <div data-aos="fade-up">
    <include
      src="./components/button.html"
      locals='{
    "class": "",
    "name": "DOWNLOAD" 
    }'
    ></include>
  </div>
</section>
