// Font family
$font-family: "Roboto", sans-serif;

// Breakpoints
$tablet: 768px;
$desktop: 1200px;

//color
$white: #fff;
$text-color: #4b4b4b;
$text-sub-color: #7d7d7d;
$primary-color: #ebcb80;
$background-color: #ffffff;

$box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
$box-shadow-second: 0px 2px 4px rgba(0, 0, 0, 0.2);

$input-placehoder: #7d7d7d;
$border-bottom-input: #7d7d7d;
