<section>
  <header>
    <div class="container">
      <include src="./components/navbar.html"></include>
      <div class="introduce-sec" data-aos="fade-up">
        <h1 class="introduce-sec__message">
          See The Unmatched Beauty Of The Great Lakes
        </h1>
        <figure class="introduce-sec__video">
          <iframe
            src="https://www.youtube.com/embed/54VyjWCGQQU"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          ></iframe>
        </figure>
        <div class="down-arrow">
          <img
            class="down-arrow__icon"
            src="../assets/icons/down-arrow.svg"
            alt=""
          />
        </div>
      </div>
    </div>
  </header>
</section>
