<main class="main">
  <include src="./components/features-sec.html"></include>
  <include src="./components/version-download-sec.html"></include>
  <include src="./components/testimonials-sec.html"></include>
  <include src="./components/choose-plan-sec.html"></include>
  <include src="./components/portfolio-sec.html"></include>
  <include src="./components/about-me-sec.html"></include>
  <include src="./components/contact-sec.html"></include>
  <include src="./components/map-sec.html"></include>
</main>
